<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/mainpage.css" />
    <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous"
    />
    <!-- font text -->
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
            rel="stylesheet"
    />
    <title>Ecoast</title>
</head>
<body>
<header class="header">
    <div class="container header__inner">
        <ul class="navbar">
            <li class="navbar__item"><a href="eleapp" target="_self">电器</a></li>
            <li class="navbar__item"><a href="digital" target="_self">数码</a></li>
            <li class="navbar__item"><a href="book" target="_self">图书</a></li>
            <li class="navbar__item"><a href="food" target="_self">食品</a></li>
            <li class="navbar__item">
                <a href="/mainpage/warehouse">仓库租赁</a>
{#                <ul class="dropdown">#}
{#                    <li class="dropdown__item"><a href="#">My Cart</a></li>#}
{#                    <li class="dropdown__item"><a href="#">Check Out</a></li>#}
{#                    <li class="dropdown__item"><a href="#">Order History</a></li>#}
{#                    <li class="dropdown__item"><a href="#">Shop With Sidebar</a></li>#}
{#                    <li class="dropdown__item"><a href="#">Tracking</a></li>#}
{#                    <li class="dropdown__item"><a href="#">Product detail</a></li>#}
{#                </ul>#}
            </li>
            <li class="navbar__item">
                <a href="/mainpage/changeorder">修改订单</a>
{#                <ul class="dropdown">#}
{#                    <li class="dropdown__item"><a href="#">查看订单</a></li>#}
{#                    <li class="dropdown__item"><a href="#">other 1</a></li>#}
{#                    <li class="dropdown__item"><a href="#">other 2</a></li>#}
{#                </ul>#}
            </li>
            <li class="navbar__item"><a href="#">联系我们</a></li>
        </ul>
        <div class="header__icon">
            <a href="/mainpage/profile"><i class="far fa-user"></i></a>
            <a href="/login"><i class="far fa-sign-out"></i> </a>
        </div>
    </div>
</header>

<section class="intro">
    <div class="container intro__inner">

        <div>
            <nav>
                <ul id="img">
                    <li class="opa-on">
                        <div class="intro__content">
                            <h4 class="intro__title">关 注 最 新</h4>
                            <h1 class= "intro__big-text">Hot Selling</h1>
                            <p class="intro__para">
                                全新 MacBook Pro 配备绚丽的 16 英寸视网膜显示屏<br>
                                这也是历代 Mac 笔记本电脑上最大的视网膜显示屏<br>
                                它拥有 500 尼特的亮度，可呈现令人赞叹的高光效果和明亮的白色<br>
                                同时再以液晶分子精准的光定向技术，营造出深邃的黑色<br>
                                还有 P3 广色域令照片鲜艳夺目，视频鲜活生动<br>
                                所以无论身在何处，你的大作都能闪亮呈现<br>
                            </p>
                            <a href="/mainpage/digital/MacBook%20Pro"><button class="intro__btn">
                                订   购
                                <i class="fas fa-arrow-right"></i>
                            </button></a>
                        </div>
                        <a href="/mainpage/digital/MacBook%20Pro"><img class="img1" height="480px" width="840px" src="../../static/images/macbookproforMainpage.png" alt=""></a>
                    </li>


                    <li>
                        <div class="intro__content">
                            <h4 class="intro__title">关 注 最 新</h4>
                            <h1 class="intro__big-text">Hot Selling</h1>
                            <p class="intro__para">
                                数据库领域的殿堂级作品<br>
                                夯实数据库理论基础，增强数据库技术内功的必备之选<br>
                                对深入理解数据库，深入研究数据库，深入操作数据库都具有极强的指导作用<br>
                            </p>
                            <a href="/mainpage/book/数据库系统概念"><button class="intro__btn">
                                订   购
                                <i class="fas fa-arrow-right"></i>
                            </button></a>
                        </div>

                        <a href="/mainpage/book/数据库系统概念"><img class="img2" height="510px" width="392px" src="../../static/images/数据库1.png" alt=""></a>
                    </li>
                    <li>
                        <div class="intro__content">
                            <h4 class="intro__title">关 注 最 新</h4>
                            <h1 class="intro__big-text">Hot Selling</h1>
                            <p class="intro__para">
                                仓鼠可以为您提供五大产品服务<br>
                                为您提供代缴税、融资等服务的金融产品<br>
                                为您提供多样化的仓配服务和仓运服务的仓配产品<br>
                                以及针对大小件同仓和绿植行业仓配的解决方案<br>
                                提高商家流量的流量产品<br>
                                多种个性化选择的纯配产品<br>
                            </p>
                            <a href="/mainpage/warehouse/仓库十"><button class="intro__btn">
                                了解更多
                                <i class="fas fa-arrow-right"></i>
                            </button></a>
                        </div>
                        <a href="/mainpage/warehouse/仓库十"><img class="img3" height="435px" width="741px" src="../../media/货物存储3.jpg" alt=""></a>
                    </li>

                </ul>


            </nav>
        </div>




    </div>
</section>
<ul id="index">
    <li class="on"></li>
    <li></li>
    <li></li>

</ul>



<section class="trending">
    <div class="container trending__inner">
        <div class="trending__list">
            <div class="shipping-box">
                <div class="shipping-box__overlay">
                    <i class="far fa-truck"></i>
                    <h1 class="shipping-box__title">包邮</h1>
                    <p class="shipping-box__text">总额 大于 ￥88</p>
                </div>
            </div>
            <div class="shipping-box">
                <div class="shipping-box__overlay">
                    <i class="far fa-warehouse"></i>
                    <h1 class="shipping-box__title">七天无理由退货</h1>
                    <p class="shipping-box__text">购买安心</p>
                </div>
            </div>
            <div class="shipping-box">
                <div class="shipping-box__overlay">
                    <i class="far fa-user"></i>
                    <h1 class="shipping-box__title">一对一客服</h1>
                     <p class="shipping-box__text">保障服务</p>
                </div>
            </div>
        </div>
        <div class="trending-products">
            <h1 class="trending-products__title">电器 electrical equipment</h1>
            <div class="trending-products__separator">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="trending-products__list">
                <button class="trending-products__btn">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button class="trending-products__btn">
                    <i class="fas fa-chevron-right"></i>
                </button>
                <div class="trending-products__item">
                    <div class="trending-products__image">
                        <a href="/mainpage/eleapp/扫地机器人">
                            <img
                                src="../../media/小米扫地机器人.jpg"
                                alt="shirt"
                        /></a>
                    </div>
                    <h2 class="trending-products__name">小米扫地机器人</h2>
                    <p class="trending-products__des">智商高，扫得干净扫得快</p>
                    <h3 class="trending-products__price">￥1799.0</h3>
                </div>

                <div class="trending-products__item">
                    <div class="trending-products__image">
                        <a href="/mainpage/eleapp/戴森吸尘器">
                        <img
                                src="../../media/戴森吸尘器.jpg"
                                alt="shirt"
                        /></a>
                    </div>
                    <h2 class="trending-products__name">戴森吸尘器</h2>
                    <p class="trending-products__des">戴森轻量科技，浓缩与轻量机身</p>
                    <h3 class="trending-products__price">￥4190.0</h3>
                </div>

                <div class="trending-products__item">
                    <div class="trending-products__image">
                        <a href="/mainpage/eleapp/小米电视">
                        <img
                                src="../../media/小米电视.jpg"
                                alt="shirt"
                        /></a>
                    </div>
                    <h2 class="trending-products__name">小米电视</h2>
                    <p class="trending-products__des">画质巨幕/10.7亿原色/120Hz MEMC/杜比全景声</p>
                    <h3 class="trending-products__price">￥3999.0</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner">
    <div class="background background-left">
        <img
                src="https://weblizar.com/demo/html/Ecoast/images/banner.png"
                alt="banner"
        />
    </div>
    <div class="background background-right"></div>
    <div class="container banner__inner">
        <div class="banner__content">
            <h2 class="banner__discount">图书 BOOKS</h2>
            <h1 class="banner__title">图 书 五 折 ！50% Discount</h1>
            <p class="banner__para">
                计算机科学与技术(Computer Science)相关书籍销售中
            </p>
            <a href="/mainpage/book"><button class="banner__btn">马上购物</button></a>
        </div>
    </div>
</section>
<section class="trending">
    <div class="container trending__inner">
        <div class="trending-products">
            <h1 class="trending-products__title">图书 Books</h1>
            <div class="trending-products__separator">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

            <div class="trending-products__list-2">
                <div class="trending-products__item card-2">
                    <div class="trending-products__image">
                        <a href="/mainpage/book/现代操作系统"><img
                                src="../../media/现代操作系统.png"
                                alt="shirt"
                        /></a>
                    </div>
                    <h2 class="trending-products__name">现代操作系统</h2>
                    <p class="trending-products__des">洞悉操作系统内核</p>
                    <h3 class="trending-products__price">￥70.2</h3>
                </div>
                <div class="trending-products__item card-2">
                    <div class="trending-products__image">
                        <a href="/mainpage/book/算法导论"><img
                                src="../../media/算法导论.png"
                                alt="shirt"
                        /></a>
                    </div>
                    <h2 class="trending-products__name">算法导论</h2>
                    <p class="trending-products__des">你的第一本算法百科全书</p>
                    <h3 class="trending-products__price">￥83.2</h3>
                </div>
                <div class="trending-products__item card-2">
                    <div class="trending-products__image">
                        <a href="/mainpage/book/数据库系统概念"><img
                                src="../../media/数据库系统概念.png"
                                alt="shirt"
                        /></a>
                    </div>
                    <h2 class="trending-products__name">数据库系统概念</h2>
                    <p class="trending-products__des">数据库入门经典书籍</p>
                    <h3 class="trending-products__price">￥55.8</h3>
                </div>
                <div class="trending-products__item card-2">
                    <div class="trending-products__image">
                        <a href="/mainpage/book/数据结构与算法分析"><img
                                src="../../media/数据结构与算法分析.png"
                                alt="shirt"
                        /></a>
                    </div>
                    <h2 class="trending-products__name">数据结构与算法分析</h2>
                    <p class="trending-products__des">计算机科学与技术基石书籍</p>
                    <h3 class="trending-products__price">￥69.3</h3>
                </div>
                <div class="trending-products__item card-2">
                    <div class="trending-products__image">
                        <a href="/mainpage/book/编译原理"><img
                                src="../../media/编译原理.png"
                                alt="shirt"
                        /></a>
                    </div>
                    <h2 class="trending-products__name">编译原理</h2>
                    <p class="trending-products__des">了解编译器的第一本书籍</p>
                    <h3 class="trending-products__price">￥62.3</h3>
                </div>
                <div class="trending-products__item card-2">
                    <div class="trending-products__image">
                        <a href="/mainpage/book/编译原理"><img
                                src="../../media/编译原理.png"
                                alt="shirt"
                        /></a>
                    </div>
                    <h2 class="trending-products__name">编译原理</h2>
                    <p class="trending-products__des">了解编译器的第一本书籍</p>
                    <h3 class="trending-products__price">￥62.3</h3>
                </div>
        </div>
            <a href="/mainpage/book"><button class="banner__btn load__btn">了解更多</button></a>
    </div>
    </div>
</section>
<section class="deal">
    <div class="deal__overlay-bg">
        <div class="container deal__inner">
            <div class="deal__content">
                <h2 class="deal__intro">折扣 Discount</h2><br>
                <h1 class="deal__title">数 码 产 品<br><br>七 折 起 售！<br>70% Discount</h1>
                <p class="deal__para">
                    iphone 12, macbook pro 2020, ipad pro 2020 火热销售中
                </p>
                <a href="/mainpage/digital"><button class="banner__btn load__btn btn__type-2">了解更多</button></a>
            </div>
            <div class="deal__image">
                <img
                        src="../../media/intro_digit.png"
                        width="600"
                        height="320"
                        alt="deal"
                />
            </div>
        </div>
    </div>
</section>
<section class="best-selling">
    <div class="div container best-selling__inner">
        <h1 class="trending-products__title">数码产品 Digital Products</h1>
        <div class="trending-products__separator">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="trending-products__list">
            <button class="trending-products__btn">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="trending-products__btn">
                <i class="fas fa-chevron-right"></i>
            </button>
            <div class="trending-products__item">
                <div class="trending-products__image">
                    <a href="/mainpage/digital/ipad%20Pro%202020"><img
                            src="../../media/ipadpro.png"
                            alt="shirt"
                    /></a>
                </div>
                <h2 class="trending-products__name">ipad pro 2020</h2>
                <p class="trending-products__des">你的下一台电脑 何必是电脑</p>
                <h3 class="trending-products__price">￥6599.0</h3>
            </div>
            <div class="trending-products__item">
                <div class="trending-products__image">
                    <a href="/mainpage/digital/iphone%2012"><img
                            src="../../media/iphone12.png"
                            alt="shirt"
                    /></a>
                </div>
                <h2 class="trending-products__name">iphone 12 pro</h2>
                <p class="trending-products__des"> Pro 如其名 </p>
                <h3 class="trending-products__price">￥6000.0</h3>
            </div>
            <div class="trending-products__item">
                <div class="trending-products__image">
                    <a href="/mainpage/digital/Xiaomi%2010%20Ultra"><img
                            src="../../media/xiaomi10ultra.png"
                            alt="shirt"
                    /></a>
                </div>
                <h2 class="trending-products__name">XiaoMi 10 ultra</h2>
                <p class="trending-products__des">年轻人的最后一部手机</p>
                <h3 class="trending-products__price">￥5999.0</h3>
            </div>
            <div class="trending-products__item">
                <div class="trending-products__image">
                    <a href="/mainpage/digital/Redmi%20K30%20Pro%20Ultra"><img
                            src="../../media/redmik30proultra.png"
                            alt="shirt"
                    /></a>
                </div>
                <h2 class="trending-products__name">Redmi K30 pro ultra</h2>
                <p class="trending-products__des">后浪的第一部手机</p>
                <h3 class="trending-products__price">￥1999.0</h3>
            </div>
        </div>
        <a href="/mainpage/digital"><button class="banner__btn load__btn">了解更多</button></a>
    </div>
</section>
<section class="story">
    <div class="container story__inner">
        <h1 class="trending-products__title">仓库租赁  Warehouse leasing</h1>
        <div class="trending-products__separator">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="story__list">
            <div class="story-card">
                <div class="story-card__info bg-1">
                    <p class="story-card__date">1 October 2020</p>
                </div>
                <div class="story-card__content">
                    <h4 class="story-card__title">
                        仓库: 福斯德 ,位于: 浙江 嘉兴
                    </h4>
                    <p class="story-card__para">
                        提供人流量监测服务 和 监控服务，更方便您管理
                    </p>
                    <a class="story-card__link" href="/mainpage/warehouse/仓库十一">详细信息</a>
                </div>
            </div>
            <div class="story-card">
                <div class="story-card__info bg-2">
                    <p class="story-card__date">2 October 2020</p>
                </div>
                <div class="story-card__content">
                    <h4 class="story-card__title">
                        仓库: 赛肯德 ,位于: 四川 成都
                    </h4>
                    <p class="story-card__para">
                        提供人流量监测服务 和 监控服务，更方便您管理
                    </p>
                    <a class="story-card__link" href="/mainpage/warehouse/仓库八">详细信息</a>
                </div>
            </div>
            <div class="story-card">
                <div class="story-card__info bg-3">
                    <p class="story-card__date">3 October 2020</p>
                </div>
                <div class="story-card__content">
                    <h4 class="story-card__title">
                        仓库: 塞尔德 ,位于: 中国  上海
                    </h4>
                    <p class="story-card__para">
                        提供人流量监测服务 和 监控服务，更方便您管理
                    </p>
                    <a class="story-card__link" href="/mainpage/warehouse/仓库二">详细信息</a>
                </div>
            </div>
        </div>
        <a href="/mainpage/warehouse"><button class="banner__btn load__btn">了解更多</button></a>
    </div>
</section>
<section class="logo-brand">
    <div class="div container logo-brand__inner">
        <ul class="logo-brand__list">
            <li class="logo-brand__item">
                <img
                        src="https://weblizar.com/demo/html/Ecoast/images/client-4.png"
                        alt="a"
                />
            </li>
            <li class="logo-brand__item">
                <img
                        src="https://weblizar.com/demo/html/Ecoast/images/client-1.png"
                        alt="b"
                />
            </li>
            <li class="logo-brand__item">
                <img
                        src="https://weblizar.com/demo/html/Ecoast/images/client-2.png"
                        alt="c"
                />
            </li>
            <li class="logo-brand__item">
                <img
                        src="https://weblizar.com/demo/html/Ecoast/images/client-3.png"
                        alt="d"
                />
            </li>
            <li class="logo-brand__item">
                <img
                        src="https://weblizar.com/demo/html/Ecoast/images/client-4.png"
                        alt="a"
                />
            </li>
            <li class="logo-brand__item">
                <img
                        src="https://weblizar.com/demo/html/Ecoast/images/client-1.png"
                        alt="b"
                />
            </li>
            <li class="logo-brand__item">
                <img
                        src="https://weblizar.com/demo/html/Ecoast/images/client-2.png"
                        alt="c"
                />
            </li>
            <li class="logo-brand__item">
                <img
                        src="https://weblizar.com/demo/html/Ecoast/images/client-3.png"
                        alt="d"
                />
            </li>
        </ul>
    </div>
</section>
<footer class="footer">
    <div class="footer__overlay">
        <div class="container footer__inner">
            <ul class="footer__list">
                <li class="footer__item">
              <span class="footer__logo">
                <img
                        src="https://weblizar.com/demo/html/Ecoast/images/logo-wht.png"
                        alt="logo"
                />
              </span>
                    <p class="footer__para">
                        Created by <br><br>安徽大学计算机科学与技术学院 <br><br>软件工程学生:<br><br>王浩宇 <br><br>徐雪健<br> <br>李义刚 <br><br>朱龙生
                    </p>
                </li>
                <li class="footer__item">
                    <h2 class="footer__title">Populer Tags</h2>
                    <ul class="link-list">
                        <li class="link-list__item"><a href="#">数码</a></li>
                        <li class="link-list__item"><a href="#">家电</a></li>
                        <li class="link-list__item"><a href="#">图书</a></li>
                        <li class="link-list__item"><a href="#">食品</a></li>
                    </ul>
                </li>
                <li class="footer__item">
                    <h2 class="footer__title">Contact-Us</h2>
                    <ul class="contact-list">
                        <li class="contact-list__item">
                            安徽大学磬苑校区行知楼B205 ACM-ICPC实验室
                        </li>
                        <li class="contact-list__item">(+86) 15755111689</li>
                        <li class="contact-list__item">howiewang.cs@ahu.com</li>
                    </ul>
                </li>
                <li class="footer__item">
                    <h2 class="footer__title">Rss</h2>
                    <div class="contact-box">
                        <p class="contact-box__title">订阅最新消息</p>
                        <input
                                class="contact-box__input"
                                type="text"
                                placeholder="Email"
                        />
                        <button class="contact-box__btn">确定订阅</button>
                    </div>
                </li>
            </ul>
            <p class="footer__last-text">
                2020 . All Rights Reserved Developed By 安徽大学软件工程.
            </p>
        </div>
    </div>
</footer>
<a class="move-top__btn" href="#"><i class="fas fa-arrow-up"></i></a>
</body>

<script>

    function moveImg(list,index) {
        for(var i=0;i<list.length;i++){
            if(list[i].className=='opa-on'){//清除li的透明度样式
                list[i].className='';
            }
        }
        list[index].className='opa-on';
    }
    function moveIndex(list,num) {//移动小圆圈
        for (var i = 0; i < list.length; i++) {
            if (list[i].className == 'on') {//清除li的背景样式
                list[i].className = '';
            }
        }
        list[num].className = 'on';
    }
    var imgList=document.getElementById('img').getElementsByTagName('li');
    var list=document.getElementById('index').getElementsByTagName('li');
    var index=0;
    var timer;

    for(var i=0;i<list.length;i++){//鼠标覆盖上哪个小长方形，图片就移动到哪个小圆圈，并停止
        list[i].index=i;
        list[i].onmouseover= function () {

            var clickIndex=parseInt(this.index);
            index=clickIndex;

            moveImg(imgList,index);
            moveIndex(list,index);
            clearInterval(timer);
        };
        list[i].onmouseout= function () {//移开后继续轮播
            play();
        };

    }

    var nextMove=function(){
        index+=1;
        if(index>=3){
            index=0;
        }
        moveImg(imgList,index);
        moveIndex(list,index);
    };
    var play=function(){
        timer=setInterval(function(){
            nextMove();
        },3000);
    };
    play();

</script>
</html>
